* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  padding: 0 16px;
}

body{
  background-color: $body-color;
}

button {
  border: none;
  cursor: pointer;
}

select,
input {
  outline: none;
  border: none;
}

ul,
ol {
  list-style: none;
}

a{
  text-decoration: none;
}