.sidebar {
  width: 90%;
  height: 80px;
  position: fixed;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  background: #ffffff;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  z-index: 100;

  .sidebar_btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 12px;
    text-align: center;
    background: none;
    border: none;
    color: $gray;
    text-decoration: none;

    .sidebar_icon {
      font-size: 20px;
      color: $gray;
    }

    &.active {
      color: $black;

      .sidebar_icon {
        color: $black;
      }
    }
  }
}
